body {
    font-family: 'Lobster', cursive !important;
}

p {
    font-size: 22px;
    color: rgb(173, 166, 166);
}

.pointer {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

/*              ICON
=====================================*/
.icon {
    font-weight: bold;
    font-size: 22px;
}

.icon-x {
    color: rgb(234, 89, 89);
}

/*              HOVER
=====================================*/
.icon-edit:hover {
    color: #3498db !important;
}

.icon-x:hover {
    color: rgb(94, 8, 8);
}